
<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>Upload Test</title>

</head>
<style>
        #myProgress{
        width: 100%
        background-color: grey;
        }
        #myBar {
        width: 1%;
        height: 30px;
        background-color: green;
        }

    </style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{% block script %}
{% endblock %}

<body>
{% block content %}
{% endblock %}

</body>
</html>
